.container {
  display: flex;
  flex-wrap: wrap;
  max-width: 40em;
  justify-content: space-evenly;
}

.heading {
  font-size: 2.5em;
  font-weight: 600;
}

.tagline {
  font-style: italic;
}

.detailLabel {
  font-weight: 700;
}

.image {
  width: 7em;
}

.content {
  max-width: 25em;
}

.list {
  list-style-type: circle;
  list-style-position: inside;
}
