.container {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#eeeeee, #dddddd);
  border-radius: 10px;
  padding: 1em;
  width: 20em;
}

.heading {
  font-size: 2em;
  font-weight: 500;
}

.tagline {
  margin-top: 0.3em;
  font-style: italic;
  margin-bottom: 0.5em;
}

.abv {
  font-weight: 600;
}

.image {
  height: 8em;
  margin: 0 auto 0 auto;
}

.content {
  width: 75%;
  margin-left: 1em;
}
